# Keil
Objects/
Listings/
libmpllib.lib
led.uvguix.钨钇
JLinkLog.txt
EventRecorderStub.scvd

# temp
tmp/
spin27/src/*/*.c.md
spin27/src/*/*.cmd
spin27/src/*/*.h.md
spin27/src/*/*.hmd

# c++
src/*.cpp
src/*.hpp
src/*/*.cpp
src/*/*.hpp

# pic
py/pic/
